<!-- اطلاعات یک تقاضا را نمایش می‌دهد -->
<md-list flex>
	<md-list-item 
		class="md-3-line" 
		ng-repeat="event in events.items">
		<md-icon class="md-avatar">archive</md-icon>
		<div class="md-list-item-text" layout="column">
		  <h3>{{event.title}}</h3>
		  <h4>{{event.from|pdate:'jYYYY/jMM/jDD hh:mm'}}-{{event.to|pdate:'jYYYY/jMM/jDD hh:mm'}}</h4>
		  <p>{{event.description}}</p>
		</div>
	</md-list-item>
</md-list>